Repository mbarbero/signpath-maven-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pom-consistency, unit-tests, integration-tests

check-pom-consistency:
  name: Check POM/dependabot consistency
  language: system
  entry: python3 .github/scripts/check-pom-consistency.py
  pass_filenames: false

unit-tests:
  name: Unit tests
  language: system
  entry: ./mvnw
  args:
  - -B
  - -ntp
  - -P!integration-tests
  - test
  pass_filenames: false

integration-tests:
  name: Integration tests
  language: system
  entry: ./mvnw
  args:
  - -B
  - -ntp
  - -DskipTests
  - -Pintegration-tests
  - verify
  pass_filenames: false
  stages:
  - pre-push

ci: add opengrep workflow
  .github/workflows/opengrep.yml
Due: none

build: generate CycloneDX SBOM on every build and publish to Maven Central
  .github/dependabot.yml
  pom.xml
Due: check-pom-consistency, unit-tests, integration-tests

ci: avoid GitHub context interpolation in run: step of release workflow
  .github/workflows/release.yml
Due: none

build: use defusedxml instead of stdlib xml.etree.ElementTree in Python scripts
  .github/scripts/check-pom-consistency.py
  .github/scripts/generate-site-index.py
  .github/workflows/check-pom-consistency.yml
  .github/workflows/site.yml
Due: none

build: update pre-commit config for better portability
  .pre-commit-config.yaml
Due: none

ci: update workflow names for better readability
  .github/workflows/ci.yml
  .github/workflows/pom-consistency.yml
  .github/workflows/zizmor.yml
Due: none

chore: fixup license text from official source
  LICENSE
Due: none

doc: add site descriptor and documentation
  src/site/markdown/index.md
  src/site/markdown/usage.md
  src/site/site.xml
Due: unit-tests, integration-tests

doc: update site.xml with GitHub ribbon
  pom.xml
  src/site/site.xml
Due: check-pom-consistency, unit-tests, integration-tests

ci: add poutine to ci-integrity workflow
  .github/workflows/ci-integrity.yml
  .github/workflows/zizmor.yml
  .poutine.yml
Due: none

fix: use proper name for output file
  .github/workflows/ci-integrity.yml
Due: none

ci: scan GH actions as well with CodeQL
  .github/workflows/codeql.yml
Due: none

ci: merged codeql and opengrep workflows into one
  .github/workflows/codeql.yml
  .github/workflows/sast.yml
Due: none

ci: merge pom-consistency and ci-integrity workflows into one
  .github/workflows/ci-guardrails.yml
  .github/workflows/ci-integrity.yml
  .github/workflows/pom-consistency.yml
Due: none

Path conditions:
  check-pom-consistency: any of: ^pom\.xml$|^\.github/dependabot\.yml$
  unit-tests: any of: ^src/|pom\.xml$
  integration-tests: any of: ^src/|pom\.xml$
